[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ddddocr = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
onnxruntime = "==1.16.3"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.11"
